.container {
    display: flex;
    margin-top: 1.5rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
  
  
.selectorContainer {
    height: 95vh;
}

.title {
    text-align: center;
    font-weight: bold;
    border: 1px solid #f6f4f4;
}

.selectPlaceholder{
    text-align: center;
    font-weight: bold;
}

.geoTextbox {
    padding: 1.5rem;
    width: 100%;
    display: block;
    border: 1px solid #f6f4f4;
    border-top: none;

}

.geoDropdown {
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.geoOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #f6f4f4;
    border-top: none;
}

.geoName {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;

}

.geoName p {
    margin: 0px;
    padding-left: 1.5rem;
    font-size: 1.2rem;

}

.geoCode {
    font-size: 1.2rem;
    font-weight: bold;
    color: #464646;
    padding-left: 0.75rem;
}

.actionItems {
    padding-right: 0.5rem;
}

.info {
    color: #0f8fe1;
    margin: 0 0.2rem 0 0.2rem;
}

.next{
    color: #f82a72;
    margin: 0 0.2rem 0 0.2rem;
}

